:root {
  --primary-pale: hsl(225, 100%, 94%);
  --primary-bright: hsl(245, 75%, 52%);

  --neutral-very-pale: hsl(225, 100%, 98%);
  --neutral-desaturated: hsl(224, 23%, 55%);
  --neutral-dark: hsl(223, 47%, 23%);

  --padding: 20px;
  --card-width: 500px;
}

body {
  min-height: 100vh;
  background: var(--primary-pale) url(./images/pattern-background-mobile.svg) no-repeat;
  background-position: top;
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 0 var(--padding);
  display: flex;
  align-content: center;
  justify-content: center;
}

main {
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  border-radius: 15px;
  width: var(--card-width);
  background-color: #fff;
}

#hero {
  width: 100%;
  height: auto;
}

.contents {
  padding: calc(2 * var(--padding)) var(--padding);
}

h1 {
  font-size: 1.25em;
  font-weight: 900;
}

p {
  line-height: 1.5;
}

a {
  font-weight: 700;
}

.button {
  
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 375px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background: var(--primary-pale) url(./images/pattern-background-desktop.svg) no-repeat;
  }
}
